#group-appreciation{
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    h1,h4{
       text-align: center; 
       font-weight: 400;
    }
    h4{
        color:#595959;
    }
    .about_content{
        text-align: center;
    }
    
    .img-group{
        margin:20px 50px 0;
        div{
            text-align: center;
        }
    }
    .content-bg{
        position: absolute;
        right: 0px;
        bottom:-20px;
        height: 165px;
        width: 240px;
        img{
            width: inherit;
            height: inherit;
        }
    }
    .content-box{
        position: absolute;
    top: 42px;
    left: 80px;
    }
}


