
#banner{
    margin-bottom: 50px;
    .carousel{
        img{
            height:800px;
            width: 100%;
        }
    }
}

#company-about{
    padding:50px 0;
}
.child-hidden{
    bottom:-300px;
}
.child-show{
    bottom:50px;
}