.product_detail{
    margin: 50px 50px 50px;
    .card-style{
        padding:0 50px;
    }
    h5{
        margin-top:20px;
    }
    .content-right {
        padding-left: 50px;
        h5{
            margin-top:0px;
            margin-bottom: 10px;
        }
    }
}