#banner{
    position: relative;
    .banner-title{
        width:250px;
        position: absolute;
        top:50%;
        left: 10%;
        display: flex;
        justify-content:space-around;
        h4{
            line-height: 47px;
            color: #666666;
            margin: 0;
            font-weight: 300;
            margin-left: 20px;
        }
    }
   
}
.product-list{
    padding: 50px;
    .product{
        width: 330px;
        height: 200px;
    }
    &>div{
        text-align: center;
        margin-bottom: 20px;

    }
}