#root{
    height: 100%;
}

#m-header{
    z-index: 1000;
   height: 45px;
    width: 100%;
    position: fixed;
    transition: all .3s ease;
    background-color: transparent;
    #headerList{
        position: absolute;
        left: 0;
        top: 0;
        width: 44px;
        height: 44px;
        &:before{
            transition: all .3s ease;
            content: "\20";
            width: 19px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 16px;
            top: 18px;
        }
        &:after{
            transition: all .3s ease;
            content: "\20";
            width: 19px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 16px;
            top: 24px;
        }
    
    }
    
    .shopping-cart{
        position: absolute;
        top: 5px;
        right: 15px;
        z-index:1001;
    }
    
}
.shopping-bag{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 44px;
    right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: all .3s ease;
    .box{
        padding: 20px;
    }
    button{
        width:100%;
        margin: 0 20px;
    }
}
.menu-root{
    z-index: 1000;
    position: fixed;
    top:45px;
    width: 100%;
    transform: translateX(-100%);
    transition: all .3s ease;
    .ant-menu{
        background-color: rgba(0,0,0,.98);
    }
}
.slide{
    transform: translateX(0) !important;
    opacity: 1;
    visibility: visible
}
.open:before{
    transform: rotate(-45deg) translateX(-4px) translateY(4px);
    width: 21px;
}
.open:after{
    transform: rotate(45deg) translateX(0) translateY(0);
    width: 21px;
}
.ant-btn{
    z-index: unset;
    &::before{
        z-index: unset;
    }
}
.account-menu{
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}