.m-home{
    .carousel{
            width: 100%;
            padding-top: 45px;
            img{
                width: 100%;
                height: 100%;
            }
    }
    .itop{
        padding: 10px 8px 8px;;
    }
    .img-box{
        padding:5px;
        width: 50%;
        img{
            width: 100%;
        }
    }
    .guige{
        width: 100%;
        padding:10px;
    }
    .m-tabs{
            margin:15px 10px;
        .ant-tabs-nav:before{
            border-bottom:unset;
        }
        .ant-tabs-tab{
            padding:8px 0;
        }
        .ant-tabs-nav-list{
            padding-left: 32px;
            border:1px solid #000;
            border-radius: 40px;
        }
        .ant-tabs-ink-bar{
            width: 0px !important;
        }
        
    }
    .m-product-list{
        img{
            height:80px;
        }
    }
    .m-p-price{
        margin-bottom: 5px;
    }
    .content-bg{
        width: 100%;
    }
}
