.m-banner{
    height: 60%;
    background: url('../../assets/images/m_banner.jpeg') no-repeat;
    background-size: cover;
}
.m-product-body{
    background-color: #000;
    padding: 20px;
    .m-btn-group{
        button,input{
            background: transparent;
            color:#fff;
        }
        button span{
            padding-bottom: 4px;
        }
        input{
            border-radius: unset;
            border-left: unset;
            border-right: unset;
        }
        
    }
}
.total{
    text-align: right;
}
.price-title{
    background-color:#262626;
    span{
        color:#fff;
        line-height: 28px;
        padding-left:10px;
    }
}
.info{
    background-color: #eee;
    padding: 10px 5px 5px;
    div{
        font-size: 12px;
       
    }
}

.img1{
    background: url('../../assets/images/sp-img1.jpg') no-repeat;
    height: 400px;
    background-position: center top;
    background-size: cover;
}
.img2{
    background: url('../../assets/images/lihe-1.jpg') no-repeat;
    height: 100%;
    background-position: center top;
    background-size: cover;
}
.img3{
    background: url('../../assets/images/guji.jpg');
    height: 400px;
    background-position: center top;
    background-size: cover;
}
.col-center{
    margin: auto 0;
}
.no-margin{
    margin: 0;
}
.vertical-padding{
    padding: 10px 0;
}
.row-padding{
    padding:0 10px;
}
.all-padding{
    padding:10px;
}